
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
	background-color:pink;
}
.moviePic{
	height:500px;
	width:100%;
	opacity:0.5;
	position-size:center;
}

.movieDetail{
position: static;
	top:5px;
	width:100%;
	text-align: start;
font-size:20px;
	
	
}





